<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Jembi</author>
	<description>
		This module posts aggregate data from OpenMRS to DHIS2,
		and gives implementers a User Interface for an
		easier-to-set-up OMRS to
		DHIS2 pipeline, that doesn’t need manual code fixes every
		time there’s
		a change
		to reporting indicators. Includes a Mapping Tool UI, the
		ability to
		automatically send data to DHIS2
		right away or on a schedule,
		and to map exports so that you can re-use your
		mapping work across
		sites.
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>1.11.5</require_version>
	<!-- / Module Properties -->


	<!-- Required Modules -->
	<require_modules>
		<require_module version="${reportingRestVersion}">org.openmrs.module.reportingrest
		</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting
		</require_module>
		<require_module version="${calculationVersion}">org.openmrs.calculation
		</require_module>
		<require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest
		</require_module>
		<require_module
			version="${serializationXstreamVersion}">org.openmrs.module.serialization.xstream</require_module>
	</require_modules>
	<!-- / Required Modules -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DHISConnectorActivator
	</activator>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList
		</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.dhisconnector.extension.html.GutterListExt
		</class>
	</extension>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

	</mappingFiles>

	<!-- Global properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.url</property>
		<defaultValue>http://localhost:8080/dhis</defaultValue>
		<description>
			DHIS Server URL.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.user</property>
		<defaultValue>admin</defaultValue>
		<description>
			DHIS Username.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.pass</property>
		<defaultValue>district</defaultValue>
		<description>
			DHIS Password.
		</description>
	</globalProperty>
	<globalProperty>
		<property>dhisconnector.config.dxfToAdxSwitch</property>
		<defaultValue>false</defaultValue>
		<description>
			DHIS Connector: true/false whether or not to use the DXF
			to ADX conversion before sending data to DHIS2
		</description>
	</globalProperty>
	<globalProperty>
		<property>dhisconnector.config.dataAndLogsStoragePeriod</property>
		<defaultValue>6</defaultValue>
		<description>
			DHIS Connector: Number of months backwards from current
			date for which to store both stored logs and data
		</description>
	</globalProperty>
	<globalProperty>
		<property>dhisconnector.config.enableAutoRun</property>
		<defaultValue>false</defaultValue>
		<description>
			Set to true to enable this module to run configured
			openmrs reports and post data into DHIS2 automatically
		</description>
	</globalProperty>

	<privilege>
		<name>View Connection</name>
		<description>Viewing DHIS2 Connection</description>
	</privilege>
	<privilege>
		<name>Manage Connection</name>
		<description>Edit DHIS2 Connection</description>
	</privilege>
	<privilege>
		<name>View Location Mappings</name>
		<description>View OpenMRS Location-OrgUnit mappings</description>
	</privilege>
	<privilege>
		<name>Manage Location Mappings</name>
		<description>Edit/Delete Location-OrgUnit mappings</description>
	</privilege>
	<privilege>
		<name>View Automation</name>
		<description>View scheduled mappings</description>
	</privilege>
	<privilege>
		<name>Run Automation</name>
		<description>Run scheduled mappings</description>
	</privilege>
	<privilege>
		<name>Manage Automation</name>
		<description>Add/Edit/Delete scheduled mappings</description>
	</privilege>
	<privilege>
		<name>Run Reports</name>
		<description>Base privilege for running the reports</description>
	</privilege>
	<privilege>
		<name>Run DHIS 2 Reports</name>
		<description>This gives access to send Reports from OpenMRS to DHIS 2 
		</description>
	</privilege>
	<privilege>
		<name>Run Failed Data</name>
		<description>Base privilege for pushing the failed data</description>
	</privilege>
	<privilege>
		<name>Manage Mappings</name>
		<description>Create/Edit Mappings</description>
	</privilege>
	<privilege>
		<name>Import and Export</name>
		<description>Import and export mappings and DHIS2 API</description>
	</privilege>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

